@import url("./transitions/slide.css");


body {
    main {
        max-width: 800px;
    }
    .home {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &>a {
            text-decoration: none;
            color: var(--text);
            display: flex;
            gap: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--text);
            h2 {
                font-size: large;
                margin: 0;
            }
            span {
                opacity: 0.8;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2; 
                -webkit-box-orient: vertical;
                transition: opacity 0.2s;
            }
            img {
                transition: transform 0.2s;
                width: 70px;
                height: 70px;
                background-size: cover;
            }
            &:hover {
                span {
                    opacity: 1;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    .post {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        &>.header {
            display: flex;
            gap: 10px;
            align-items: center;
            &>div {
                display: flex;
                &>span {
                    &:first-of-type {
                        font-weight: bold;
                        font-size: large;
                    }
                }
                flex-direction: column;
            }
            &>img {
                border-radius: 1000px;
                width: 70px;
            }
        }
        &>.date {
            opacity: 0.8;
        }
        &>.footer {
            display: flex;
            gap: 10px;
            &>div {
                display: flex;
                gap: 5px;
                &>span {
                    font-weight: bold;
                }
            }
        }
    }
}